* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

main {
  min-height: calc(100vh - 200px); /* Ajuste selon la hauteur header+footer */
  background-color: #f9f9f9;
}
